{% extends 'gtr/gtr_base.html' %}

{% load static %}  

{% block title %}gtr 911{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{% static 'gtr/images/gtrbp.jpg' %}" class="img-fluid" alt="gtr 911" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'gtr/images/gtrbp1.jpg' %}" class="img-fluid" alt="gtr 911" style="max-width: 100%; height: auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'gtr/images/gtrbp2.jpg' %}" class="img-fluid" alt="gtr 911" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
{% endblock %}
