{% extends 'porsche/porsche_base.html' %}

{% load static %}  <!-- Ensure static is loaded -->

{% block title %}Porsche 911 - Gallery{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'porsche/images/p1.avif' %}" class="img-fluid" alt="Porsche Image 1" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'porsche/images/p2.jpg' %}" class="img-fluid" alt="Porsche Image 2" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'porsche/images/p3.jpg' %}" class="img-fluid" alt="Porsche Image 3" style="max-width: 100%; height: auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'porsche/images/p4.webp' %}" class="img-fluid" alt="Porsche Image 4" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'porsche/images/p5.jpg' %}" class="img-fluid" alt="Porsche Image 5" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'porsche/images/p6.png' %}" class="img-fluid" alt="Porsche Image 6" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
{% endblock %}
